    <main class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="card mt-4 shadow-sm col-md-6">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0 text-center">Usuario para Probar la Página</h4>
            </div>
            <div class="card-body text-center">
                <p class="card-text mb-2"><strong>Usuario:</strong> admin@gmail.com</p>
                <p class="card-text mb-4"><strong>Contraseña:</strong> admin</p>
                <a href="/" class="btn btn-light">Volver a Inicio</a>
            </div>
        </div>
    </div>
</main>